**/__pycache__/

data/*
!data/README.md

models/*
!models/README.md

ngrok/

results/*
!results/README.md

venv/

Taiwan-Criminal-Law-Interactive-Chatbot.code-workspace

legal_judgment_prediction/bert/
legal_judgment_prediction/data/
legal_judgment_prediction/results/